<div class="container mt-5">
  <!-- Agregado margen superior (mt-5) para separar del menú principal -->
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">Lista de Citas</h2>
      <!-- Agregado título "Lista de Citas" -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Botón para agregar nueva cita -->
        <a class="btn btn-primary" [routerLink]="['/citas/agregar']">+</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>USUARIO</th>
            <th>DOCTOR</th>
            <th>FECHA</th>
            <th>SÍNTOMAS</th>
            <th>TRATAMIENTO</th>
            <th colspan="2">ACCIONES</th> <!-- colspan="2" para abarcar dos columnas -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas | async">
            <td>{{cita.idcita}}</td>
            <td>{{getUsuarioNombre(cita.idusuario)}}</td>
            <td>{{getDoctorNombre(cita.iddoctor)}}</td>
            <td>{{cita.fecha}}</td>
            <td>{{cita.sintomas}}</td>
            <td>{{cita.tratamiento}}</td>
            <td>
              <!-- Botón para editar cita -->
              <a class="btn btn-info" [routerLink]="['/citas/actualizar/', cita.idcita]">Editar</a>
            </td>
            <td>
              <!-- Botón para borrar cita -->
              <button (click)="borrarCita(cita.idcita)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
